<a href="https://colab.research.google.com/github/Nikita2w345/MMVSULAB1/blob/main/2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/Nikita2w345/MMVSULAB1/main/Voronezh.csv'
df = pd.read_csv(url)
print(df)
years = np.array(df['years'])
population= np.array(df['population'])

    years  population
0    2003      849800
1    2005      846300
2    2009      843496
3    2010      847620
4    2011      991269
5    2012      100350
6    2013     1014610
7    2014     1023570
8    2015     1032895
9    2016     1032895
10   2017     1039801
11   2018     1047549
12   2019     1054111
13   2020     1058261
14   2021     1050602
15   2022     1048738